.name {
  text-transform: capitalize;
}

h1 {
  text-align: center;
  text-transform: capitalize;
}

ion-item-group {
  margin-bottom: 16px;
}

.type {
  text-transform: capitalize;
  --color: var(--type-color);
}

.ability {
  text-transform: capitalize;
}

.stat {
  text-transform: uppercase;
}
.stat-low {
  --color: #f44336;
}
.stat-medium {
  --color: #fbc02d;
}
.stat-high {
  --color: #4caf50;
}
.stat-top {
  --color: #1b5e20;
}
