/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import "~@ionic/angular/css/display.css";

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.container {
  max-width: 1200px;
  margin: auto;
}

.type-normal {
  --type-color: #a8a77a;
}
.type-fighting {
  --type-color: #c22e28;
}
.type-flying {
  --bacground: #a98ff3;
}
.type-poison {
  --type-color: #a33ea1;
}
.type-ground {
  --type-color: #e2bf65;
}
.type-rock {
  --type-color: #b6a136;
}
.type-bug {
  --type-color: #a6b91a;
}
.type-ghost {
  --bacground: #735797;
}
.type-steel {
  --type-color: #b7b7ce;
}
.type-fire {
  --type-color: #ee8130;
}
.type-water {
  --type-color: #6390f0;
}
.type-grass {
  --type-color: #7ac74c;
}
.type-electric {
  --bacground: #f7d02c;
}
.type-psychic {
  --type-color: #f95587;
}
.type-ice {
  --type-color: #96d9d6;
}
.type-dragon {
  --type-color: #6f35fc;
}
.type-dark {
  --type-color: #705746;
}
.type-fairy {
  --bacground: #d685ad;
}
.type-unknown {
  --type-color: #000000;
}
.type-shadow {
  --type-color: #5e33bb;
}
