<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title> Pokédex </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <div class="container">
    <ion-searchbar
      (ionInput)="searchSubject.next($event.target.value)"
    ></ion-searchbar>

    <app-pokemons-list
      [pokemons]="pokemons"
      [isLoading]="isLoading"
    ></app-pokemons-list>

    <ion-text *ngIf="errorMessage" color="danger" style="text-align: center">
      <h1>{{errorMessage}}</h1>
    </ion-text>
  </div>
</ion-content>
